section#services.bg-white(style='padding-top:0px; padding-bottom:0px')
    .container
        .splitrow
            .column(style='background-color:#aaa;')
                p.lead I'm a student, a developer and an occasional guitar enthusiast.
                p.lead Now that you're already here, check out my other projects below.
            .column(style='background-color:#bbb; padding:0px')
                img(src='/images/large.jpg' style='max-width:100%; max-height:100%')




