section#about.resume-section.p-3.p-lg-5.d-flex.align-items-center
    .w-100
        h1.mb-0
            | Ravija
            span.text-primary Maheshwari
        .subheading.mb-5
            | UNSW Hall High Street 5 &middot; Randwick, NSW 2052 &middot; (+61) 0410235339  &middot;
            a(href='mailto:ravija.maheshwari@student.unsw.edu.au') ravija.maheshwari@student.unsw.edu.au
        p.lead.mb-5
            | I'm a student, a developer and an occasional guitar enthusiast. I've coded this website so that I have a dedicated space for displaying my projects and other works.
            | Apart from being a web developer, I enjoy most of my time listening to and playing music, socialising with my friends and working out.
        .social-icons
            a(href='https://www.linkedin.com/in/ravijamaheshwari/')
                i.fab.fa-linkedin-in
            a(href='https://www.github.com/Ravija5')
                i.fab.fa-github
