section#awards.resume-section.p-3.p-lg-5.d-flex.align-items-center
    .w-100
        h2.mb-5 Awards &amp; Certifications
        ul.fa-ul.mb-0
        li
            |                   Future of Change Scholarship - UNSW
            li
                |Java Programming: Solving Problems with Software - &nbsp;
                a(href='http://www.coursera.org/account/accomplishments/verify/T6A6AL7RRWHP') Coursera Certification
                |&nbspfrom Duke University
            li
                |JavaScript, HTML and CSS -  &nbsp;
                a(href='https://www.coursera.org/account/accomplishments/verify/3TJBD8GYBAJ4') Coursera Certification
