section#awards.resume-section.p-3.p-lg-5.d-flex.align-items-center
    .w-100
        h2.mb-5 Awards &amp; Certifications
        ul.fa-ul.mb-0
        li
            |                   Future of Change Scholarship - UNSW
            li
                |               Java Programming: Solving Problems with Software - Coursera Certification from Duke University
            li
                |               Programming Foundations with JavaScript, HTML and CSS - Coursera Certification