section#education.resume-section.p-3.p-lg-5.d-flex.align-items-center
    .w-100
        h2.mb-5 Education
        .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .resume-content
                h3.mb-0 University Of New South Wales, Sydney
                ul
                .subheading.mb-3 Bachelor of Engineering, Software (Honours)
                div
                    li UNSW Career Leader and Student Development Representative
                    li WAM: 78
            .resume-date.text-md-right
                span.text-primary Feb 2018 - Dec 2021 (Expected)
        .resume-item.d-flex.flex-column.flex-md-row.justify-content-between
            .resume-content
                h3.mb-0 Colonel’s Central Academy, India
                .subheading.mb-3 Higher School Certificate (HSC)
                ul
                li ATAR (equivalent): 99
            .resume-date.text-md-right
                span.text-primary May 2016 - July 2017
