section#experience.resume-section.p-3.p-lg-5.d-flex.justify-content-center
    .w-100
        h2.mb-5 Experience
        .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .resume-content
                h3.mb-0 Student Development Representative Caller
                .subheading.mb-3 UNSW Philanthropy
                ul
                li
                    |Promoted positive relations among UNSW and its wider alumni by engaging with alumni over telephone.
                li Sought donation towards a range of causes within the UNSW Impact Appeal and raised over&nbsp;
                    strong $3000
                    |&nbsp;towards the PVC Scholarship.
                li Marketed various charitable causes and persuasively communicated with alumni to convince them to get on board with UNSW Giving.
            .resume-date.text-md-right
                span.text-primary June 2019 - Sept 2019
        .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .resume-content
                h3.mb-0 Software Developer
                .subheading.mb-3 Projects Team, CSESoc UNSW
                ul
                li
                    |Developing the Job Post creation module that enables employers to create job posts for&nbsp;
                    strong 50,000+
                    |&nbsp;UNSW students.
                li
                    |Collaborating with 6 team members for development, testing and deployment of the portal.


            .resume-date.text-md-right
                span.text-primary April 2018 - October 2018
        .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
            .resume-content
                h3.mb-0 Computer Science Tutor
                .subheading.mb-3 Disha NuLife Charitable Trust
                ul
                li
                    |Tutored multiple classes of 25 students with&nbsp;
                    strong 75% of students
                    |&nbsp;achieving Distinction and High Distinction grades in examinations
                li
                    |Clearly articulated and tailored my communication skills to suit the comprehension levels of younger students
            .resume-date.text-md-right
                span.text-primary October 2017 - Feb 2018