include imports.pug

// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-secondary.fixed-top
    .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') R.M
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='#about') About
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='resume') Resume
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='#projects') Projects
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='https://github.com/Ravija5/ravija-website') Code
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='#contact') Contact
