//Connecting stylesheets and defining meta data
doctype html

head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title Ravija's Page
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    // Custom styles for templates used
    link(href='stylesheets/style.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i' rel='stylesheet')
    link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
    link(href='stylesheets/resume.min.css' rel='stylesheet')