extends layout

block content

    section#about
        .container
            .row
                .col-lg-8.mx-auto
                    h2 About
                    p.lead
                        | I'm a Software Engineering student at UNSW, Sydney. I code sometimes.

    section#projects.bg-light
    .container
        .row
            .col-lg-8.mx-auto
                h2 Projects
                p.lead
                    | Add dungeon game and messaging application here


    section#contact
        .container
            .row
                .col-lg-8.mx-auto
                    h2 Contact
                    p.lead
                        | This should be a footer with my email, linkedin and facebook.