include header.pug

header.bg-primary.text-white
    .container.text-center
        h1 Hi, I'm Ravija Maheshwari
        p.lead A budding Software Engineer

include about.pug

include split.pug

section#contact
    .container
        .row
            .col-lg-8.mx-auto
                h2 Contact us
                p.lead
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.
// Footer
footer.py-5.bg-dark
    .container
        p.m-0.text-center.text-white Copyright &copy; Your Website 2019
    // /.container
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
// Custom JavaScript for this theme
script(src='javascripts/scrolling-nav.js')
