include header.pug

//TBD : Fit width of screen
header.bg-dark.text-white
    .container.text-center(style='max-width:100%;')
        h1(style='font-size:100px;') Hi, I'm Ravija Maheshwari.
        p.lead A budding Software Engineer

include about.pug

include projects.pug

// Footer
footer.py-5.bg-dark
    .container
        p.m-0.text-center.text-white Copyright &copy; Your Website 2019



    // /.container
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
// Custom JavaScript for this theme
script(src='javascripts/scrolling-nav.js')
