doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/scrolling-nav.css')
    meta(name="viewport" content="width=device-width, initial-scale=1","shrink-to-fit=no")

  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        a.navbar-brand.js-scroll-trigger(href='#page-top') Ravija's Page
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='#about') About
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='resume') Resume
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='#projects') Projects
                li.nav-item
                    a.nav-link.js-scroll-trigger(href='#contact') Contact

    header.bg-primary.text-white
        .container.text-center
            h1 Hi, I'm Ravija

    block content
