doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
        block header
        header.header
            h1 #{title}
            header.button.group
                a(href="resume", class='btn btn-default') Resume
                a(href="game", class='btn btn-default') Play a Game
        block content
