section#projects.resume-section.p-3.p-lg-5.d-flex.align-items-center
  .w-100
    h2.mb-5 Projects
    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .resume-content
        h3.mb-0 Ravija's Website
        a.subheading.mb-3(href="index") Update with domain name
        .subheading.mb-3
        ul
          li This webpage is written to display my profile and projects in an orderly manner
          li Technology Used: Node.js with Express, Pug and BootStrap
      .resume-date.text-md-right
        span.text-primary

    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .resume-content
        h3.mb-0 Instant Messaging Simulator
        a.subheading.mb-3(href="https://github.com/Ravija5/MessagingApp") Code
        .subheading.mb-3
        ul
        li TCP based client-server and peer to peer messaging application
        li Technologies Used: Python Socket programming
      .resume-date.text-md-right
        span.text-primary

    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .resume-content
        h3.mb-0 Dungeons Game
        a.subheading.mb-3(href="https://github.com/Ravija5/DungeonsGame") Code
        .subheading.mb-3
        ul
        li A user friendly single player game based on playing dungeon style puzzles
        li Developed in a team of 2 using agile methodology
        li Technologies Used: Java, JavaFX
      .resume-date.text-md-right
        span.text-primary

    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .resume-content
        h3.mb-0 Blood Management System
        a.subheading.mb-3(href="https://github.com/nithinsudhir/friendly-robot") Code
        .subheading.mb-3
        ul
        li A terminal based blood management software, which is formally verified using a verification language (Dafny)
        li Collaborated with a team of 5 to develop and verify this software
        li Technologies Used: Python, Dafny
      .resume-date.text-md-right
        span.text-primary

    .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
      .resume-content
        h3.mb-0 myShell
        a.subheading.mb-3(href="https://github.com/Ravija5/myShell") Code
        .subheading.mb-3
        ul
        li A Shell simulator that runs basic shell commands like cat, pwd, cd, ls and input redirection
        li Technologies Used: C
      .resume-date.text-md-right
        span.text-primary