include imports.pug

//Side Nav Bar
nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
    a.navbar-brand.js-scroll-trigger(href='#page-top')
        span.d-block.d-lg-none Ravija Maheshwari
        span.d-none.d-lg-block
            img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='images/profilePhoto.jpg' alt='')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                a.nav-link.js-scroll-trigger(href='#education') Education
            li.nav-item
                a.nav-link.js-scroll-trigger(href='#experience') Work Experience
            li.nav-item
                a.nav-link.js-scroll-trigger(href='#projects') Projects
            li.nav-item
                a.nav-link.js-scroll-trigger(href='#volunteering') Volunteering
            li.nav-item
                a.nav-link.js-scroll-trigger(href='#skills') Technical Skills
            li.nav-item
                a.nav-link.js-scroll-trigger(href='#awards') Awards

.container-fluid.p-0

    include about.pug
    hr.m-0

    include education.pug
    hr.m-0

    include experience.pug
    hr.m-0

    include projects.pug
    hr.m-0

    include volunteering.pug
    hr.m-0

    include skills.pug
    hr.m-0

    include awards.pug


// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
// Plugin JavaScript
script(src='vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for this template
script(src='js/resume.min.js')
