section#skills.resume-section.p-3.p-lg-5.d-flex.align-items-center
    .w-100
        h2.mb-5 Technical Skills
        .subheading.mb-3 Programming Languages &amp; Tools
        ul.list-inline.dev-icons
            li.list-inline-item
                i.fab.fa-java
            li.list-inline-item
                i.fab.fa-python
            li.list-inline-item
                i.fab.fa-git
            li.list-inline-item
                i.fab.fa-linux
            li.list-inline-item
                i.fab.fa-node-js

        .subheading.mb-3
        ul.fa-ul.mb-0
            li
                i.fa-li.fa.fa-check
                |               Java, C, Python program development
            li
                i.fa-li.fa.fa-check
                |               Web development (Node.js, Express, Pug)
            li
                i.fa-li.fa.fa-check
                |               Scripting (Perl, UNIX Bash)
            li
                i.fa-li.fa.fa-check
                |               Version Control (Git)
