section#services.bg-light(style='padding-top:0px; padding-bottom:0px')
    .container
        .row
            .col-lg-8.mx-auto
                .splitrow
                    .column(style='background-color:#aaa;')
                        h2 Column 1
                        p.lead Some text..
                    .column(style='background-color:#bbb;')
                        h2 Column 2
                        p.lead Some text..
