section#volunteering.resume-section.p-3.p-lg-5.d-flex.justify-content-center
    .w-100
        h2.mb-5 Volunteering
        .resume-item.d-flex.flex-column.flex-md-row.justify-content-between
            .resume-content
                h3.mb-0 Career Leader
                .subheading.mb-3 UNSW Careers and Employment
                ul
                li
                    |Marketed the Careers and Employment services to UNSW students and helped attain 16,000 likes on the Careers and Employment Facebook page.
                li
                    |Assisted in organising the UNSW Careers Fair at the Hordern Pavilion, a successful event with over 4000 students and 40 companies attending.
            .resume-date.text-md-right
                span.text-primary